.container {
    background-image: url('../assets/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.title {
    text-align: center;
    color: snow;
    font-size: 35px;
    padding-top: 30px;
}