<div class="back-button" routerLink="/home">Back</div>
<div class="title">Forecast for next 5 days</div>
<div class="forecast-details">
    <div *ngFor="let time of ForecastData" class="detail-card">
        <p>Date: {{time.Date}}</p> 
        <p>Temperature: {{time.Temperature}} <span>&#8451;</span></p>
        <p>SeaLevel: {{time.SeaLevel}} hPa</p>
    </div>
</div>
