.forecast-details {
    display: flex;
    margin: 5%;
    padding: 5%;
}
.title {
    text-align: center;
    font-size: 30px;
}
.back-button {
    margin-left: 6%;
    color: #6fcce5;
    font-size: 21px;
    text-decoration: underline;
}