

<div class="city-details">
    <div class="detail-card" *ngFor="let city of CitiesData" routerLink="/forecast/{{city.Name}}"> 
        <p class="name">{{city.Name}}</p>
        <p>Temperature :{{city.Temperature}} <span>&#8451;</span></p>
        <p>Sunrise: {{city.Sunrise}}</p>
        <p>Sunset: {{city.Sunset}}</p>
    </div>
</div>

  