/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
}

.detail-card{
    width: 16%;
    background-color: #8fb9c6d1;
    margin-right: 10px;
    letter-spacing: 0.8px;
    text-align: center;
    margin-right: 4%;
}